@import 'tailwindcss';

@plugin "@tailwindcss/container-queries";
@plugin "@tailwindcss/typography";

@theme {
  --color-gray: #898989;
}


@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

a,
input,
button {
  @apply focus-visible:outline-hidden focus-visible:ring-2 focus-visible:ring-neutral-400 focus-visible:ring-offset-2 focus-visible:ring-offset-neutral-50 dark:focus-visible:ring-neutral-600 dark:focus-visible:ring-offset-neutral-900;
}

.nav {
  font-weight: 500;
  font-size: 0.6875rem;
  line-height: 135%;
  letter-spacing: 0.02em;
}

.footer {
  font-weight: 400;
  font-style: italic;
  font-size: 0.625rem;
  letter-spacing: 0.01em;
}

.copyright {
  font-weight: 300;
  font-size: 0.6875rem;
  line-height: 135%;
  letter-spacing: 0.01em;
}

.alphabet-break {
  font-weight: 100;
  font-size: 0.75rem;
  line-height: 100%;
  letter-spacing: 0.38em;
  text-transform: uppercase;
}

.title {
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.01em;
}

.location {
  font-weight: 600;
  font-size: 10px;
  line-height: 135%;
  letter-spacing: 0.03em;
}

.body {
  font-weight: 400;
  font-style: Regular;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0.01em;
  vertical-align: bottom;
}